pandas
openpyxl
lxml
numpy
matplotlib
notebook
loguru
pyqt5
pyqt5-tools
PyQtWebEngine
pyqtgraph
pydantic
pyserial
sqlalchemy
alembic
adafruit-blinka
board
busio
digitalio
microcontroller
adafruit-extended-bus
pymodbus
typing_extensions
aenum
typer