pandas
openpyxl
lxml
numpy
matplotlib
notebook
loguru
pyqt5
pyqt5-tools
PyQtWebEngine
pyqtgraph
pydantic
pydantic[dotenv]
pyserial
sqlalchemy
alembic
adafruit-blinka
adafruit-extended-bus
pymodbus
typing_extensions
aenum
typer